@media (min-width: 1200px) {
    .padding-left-0 {
        padding-left: 0;
    }

    .padding-right-0 {
        padding-right: 0;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    // .header-transparent .col-lg-2.d-none.d-lg-block {
    //     display: unset;
    // }
    
    .header-transparent .header-right-btn {
        display: unset;
        visibility: visible;
    }

    // .header-nav-right-info {
    //     display: none;
    // }
    
    // .header-right-btn {
    //     display: none;
    // }
    // #header .navbar-container .row {
    //     justify-content: flex-end;
    // }
    
    // .col-lg-2.d-none.d-lg-block {display: none !important;}

    // Home one
    .hero-slider .owl-dots {
        right: 75px;
    }

    .hero-slider .slider-item {
        height: 646px;
    }
    .hero-slider .slider-item .slider-content p .slider-sub-title {
        font-size: 10px;
    }
    .intro-about-area .intro-about .intro-about-box .ts-column .column-title {
        font-size: 23px;
    }
    .ts-shaps {
        display: none;
    }
    
    .ts-funfact {
        padding: 60px 0 0;
    }
    
    .ts-single-funfact .funfact-title {
        font-size: 16px;
    }

    .menu-block .img-box .info h3 a {
        font-size: 20px;
    }
    
    .ts-daily-offer .daily-offer-banner .daily-offer-intro {
        padding-right: 100px;
    }
    
    .feature-tab-slider .owl-nav .owl-next {
        right: 0;
    }
    
    .feature-tab-slider .owl-nav .owl-prev {
        left: 0;
    }
    
    .feature-tab-post-wrapper .feature-content h3 {
        font-size: 23px;
    }
    .ts-resarve .resarved-btn {
        text-align: center;
        width: 100%;
    }
    .chef-details span.chef-name {
        font-size: 18px;
    }
    .padding-left-0 {
        padding-left: 0;
    }

    .padding-right-0 {
        padding-right: 0;
    }

    .main-logo {
        padding: 46px 10px;
    }

    // header box
    .header-box {
        .nav-right.form-inline {
            display: none;
        }
    }

    .header-classic {
        .right-menu {
            .nav-button {
                display: none;
            }
        }
    }

    h2 {
        font-size: 26px;
        line-height: 34px;
    }


    .intro-image-box {
        margin-top: 30px;
    }

    .intro-shape {
        &:after {
            display: none;
        }
    }

    .ts-footer-info-box {
        padding: 47px 26px;
    }

    .testimonial-footer {
        &:after {
            right: 33%;
            position: absolute;
        }
    }

    .nav-search {
        display: none;
    }

    ul.navbar-nav>li>a {
        padding: 0 15px;
    }

    /* Home 3 */

    .nav-classic {
        .navbar {
            .navbar-nav {
                li {
                    a {
                        padding: 0px 5px;
                    }
                }
            }
        }

        .main-logo {
            a {
                &:after {
                    display: none;
                }
            }
        }
    }

    .features-slider,
    .features-slider-classic {
        .slider-content {
            height: 530px;
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    #header .navbar-light .navbar-toggler-icon {
        background-image: none;
    }
    
    #header .navbar-light .navbar-toggler-icon i {
        font-size: 30px;
        color: #fff;
    }
    .header-transparent .logo-area {
        margin-right: 30px;
    }

    #header.header-transparent .navbar-toggler {
        margin-left: auto;
        margin-top: 30px;
    }

    .dropdown-menu.show {
        display: block;
    }

    .main-logo {
        padding: 25px 0px;
        margin-bottom: 15px;
    }

    .top-bar .header-nav-right-info,
    .top-bar li {
        padding: 0;
    }

    .navbar {
        padding: 10px;

    }

    .navbar-sticky {
        &.sticky {
            position: relative;
            display: block;
        }
    }

    .header-classic {
        .right-menu {
            .nav-button {
                display: none;
            }
        }
    }

    ul.navbar-nav {
        li {

            a {
                position: relative;


            }

            .dropdown-menu li a {
                border: none;
            }
        }

        >li {
            >a {
                line-height: 60px;
                padding-left: 0;

                &:before {
                    position: absolute;
                    font-family: 'FontAwesome';
                    content: "\f107";
                    right: 15px;
                    top: 0;
                    font-size: 25px;
                    line-height: 60px;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }

    .nav-search,
    .nav-right.form-inline {
        display: none;
    }

    .ts-nav {
        .pl-0 {
            padding-left: 15px !important;
        }

        .pr-0 {
            padding-right: 15px !important;
        }
    }

    .nav-standard {
        &.navbar-sticky {
            &.sticky {
                .main-logo {
                    display: none;
                }

                .navbar {
                    padding: 25px 0;
                }
            }

            .main-logo {
                margin-bottom: 0px;
            }
        }
    }

    .hero-slider {
        .pr-0 {
            padding-right: 15px !important;
        }

        .p-0 {
            padding: 0px 15px !important;
        }

        .pl-0 {
            padding-left: 15px !important;
        }

        .slider-item {

            .slider-content p .slider-sub-title:before,
            .slider-content p .slider-sub-title::after {
                display: none;
            }

            .slider-content {
                margin-top: 0;
            }
        }

        &.features-slider-classic .slider-content p {
            font-size: 65px;
        }
    }

    .nav-menus-wrapper {
        background: #bc906b;
    }

    .nav-standard {
        position: relative;
        z-index: 999;

        .navbar {
            .navbar-nav {
                .dropdown {
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    .hero-slider-classic {
        .hero-table {
            .hero-table-cell {
                .slider-content {
                    padding-top: 130px;
                }
            }
        }

        .owl-dots {
            display: none;
        }
    }

    .features-slider,
    .features-slider-classic {
        .slider-content {
            margin-right: 0px;
        }
    }

    .slider-feature {
        .featured-box {
            margin: 3px 0px;
        }
    }

    .ts-aboutus {
        .intro-image-box {
            margin-left: 0px;
            margin-top: 75px;
        }
    }

    .ts-feature-box {
        .ts-feature {
            margin-bottom: 30px;
        }
    }

    .ts-feature-block .feature-block-intro,
    .feature-block-desc {
        max-width: 100%;
        padding-left: 20px;
    }

    .ts-project-area {
        .col-lg-3 {
            &:nth-child(7) {
                margin-top: 10px;
            }

            &:nth-child(8) {
                margin-top: 10px;
            }
        }
    }

    .ts-funfact {
        .single-funfact {
            padding-bottom: 50px;
        }
    }

    .testimonial-carousel {
        &.owl-carousel {
            .owl-nav {

                .owl-next,
                .owl-prev {
                    margin-top: 40px;
                }
            }
        }
    }

    .testimonial-author-content {
        max-width: 570px;
    }

    .testimonial-footer {
        &:after {
            right: 27%;
        }
    }

    .top-bar {
        .unstyled {
            padding-bottom: 20px;
        }
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
        background: #bc906b;
    }

    .ts-footer {
        margin-top: 0;
    }

    .ts-footer-info-box {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .ts-footer-info-box span.box-border {
        border-top: 37px solid #bc906b;
    }

    .intro-about-area .intro-about .intro-about-item .intro-about-box {
        margin-bottom: 20px;
    }

    .ts-cta-area .cta-title h2 {
        font-size: 45px;
    }

    .cta-title,
    .cta-btn {
        text-align: center !important;
    }

    .cta-btn {
        margin-top: 20px;
    }

    .ts-daily-offer .daily-offer-banner {
        margin-bottom: 30px;
    }

    .ts-latest-news {
        .single-latest-news {
            margin-bottom: 40px;
        }
    }

    .ts-aboutus {
        padding: 40px 0px;
    }

    /* Home 3 */

    .nav-classic {
        .nav-button {
            display: none;
        }

        .navbar-light .navbar-toggler {
            margin-left: auto;
        }

        .navbar-collapse {
            background: #000;
        }

        .navbar ul>li>a {
            color: #fff;
        }

    }

    .quote-area-classic {
        .quote_form {
            margin-bottom: 50px;
        }

        .quote-img {
            margin-bottom: -55px;
        }
    }


    /* Sub Pages
================================================== */

    // About us

    .ts-aboutus-classic {
        padding: 50px 0px;

        .about-intro {
            margin-bottom: 40px;
        }
    }

    .team-img-wrapper {
        img {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .ts-team {
        padding-bottom: 30px;
    }

    .single-recent-work {
        margin-bottom: 30px;
    }

    .ts-footer-info-box {
        h3 {
            &.ts-title {
                margin-bottom: 30px;
            }
        }
    }

    .navbar-nav {
        text-align: left;
        padding-left: 20px;
    }

    .nav-item>a {
        color: #fff !important;
        line-height: 60px !important;
    }

    .nav-item a:after {
        display: none;
    }

    .nav-item:hover .dropdown-menu {
        display: none;
    }

    ul.navbar-nav li .dropdown-menu {
        background: transparent;

        li {
            a {
                color: #fff;
            }
        }
    }

    .ts-team {
        .ts-team-info {
            .team-name {
                margin-top: 0px;
            }
        }

        .mb-40 {
            margin-bottom: 0px;
        }
    }

    .section-padding {
        padding: 50px 0;
    }

    .ts-service-content {
        margin-top: 50px;
    }

    /* Home 2 */
    .header.header-standard .navbar-collapse,
    .header-classic .navbar-collapse {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 11;
        top: 100%;
        padding: 0 10px;
    }

    /* Home 4 */

    .ts-nav-classic {
        .top-bar {
            display: none;
        }

        .main-logo {
            margin-right: 15px;
        }

        .navbar {
            margin-left: 15px;
        }
    }

    .hero-slider-classic {
        margin-top: -175px;
    }

    .header-transparent {
        .logo-area {
            text-align: center;
        }

        .top-bar {
            margin: 20px 0px 0px 0px;
        }

        .navbar {
            background: transparent;

        }
    }

    #header .navbar-collapse {
        background: #101010;
        // position: relative;
        z-index: 999;
    }

    #header .navbar {
        width: 100%;
        padding-left: 50px;
    }

    // .navbar-sticky.sticky{
    //     display: none;
    // }
    .intro-text {
        margin-right: -15px;
    }

    .ts-cta-area {
        .text-right {
            text-align: center !important;
            margin-top: 30px;
        }
    }

    .accordion-area {
        padding: 50px 0 0;
    }


    .contact-info-wrapper {
        margin-bottom: 40px;
    }

    .ts-footer {
        margin-top: 0px;
        // text-align: center;

        // .textwidget p {
        //     margin: 20px 0;
        // }
    }

    .header-box {
        .logo-area {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    // .ts-shaps,
    // .ts-shaps-2,
    // .ts-shaps-3,
    // .ts-shaps-4,
    // .ts-shaps-5,
    // .ts-shaps-6,
    // .ts-shaps-7 {
    //     display: none;
    // }

    .ts-shaps-2 {
        top: 25%;
    }

    .quote-area {
        .quote_form {
            position: relative;
            top: 0;
        }
    }

    .single-blog {
        margin-bottom: 30px;
    }

    .ts-footer .ts-subscribe {
        padding-left: 0;
    }

    .ts-footer .textwidget p {
        padding-right: 0;
    }

    .ts-tab-menu .nav-menu-tabs li a i.icon {
        margin: 0;
    }

    .ts-award {
        margin-bottom: 30px;
    }

    .dishes-offer-wrapper {
        margin-bottom: 20px;
    }

    .ts-tab-menu-2 .nav-menu-tabs li a i.icon {
        margin: 0;
    }

    .ts-resarve .content {
        padding: 50px 20px;
    }

    .intro-about-area .intro-about .about-img {
        margin-top: 60px;
    }

    .menu-cat-img {
        display: none;
    }

    .intro-about .ts-title {
        margin-top: 80px;
    }

    .set-menu-img {
        text-align: center;
    }

    .party-area-image {
        text-align: center;
        margin-top: 70px;
    }

    .history-img {
        margin-bottom: 50px;
    }

    .ts-single-funfact {
        margin: 20px;
    }

    .mapouter {
        margin-top: 50px;
    }

    .vertical-grid-post-area .post-thumb img {
        height: auto;
    }

    .vertical-grid-post-area2 .post-content {
        margin-top: 30px;
    }

    // .logo-area img {
    //     height: 125px;
    // }

    .ts-funfact {
        padding: 60px 0 0;
    }

    .ts-resarve-area img {
        display: none;
    }

    .ts-tab-menu .nav-menu-tabs {
        margin-bottom: 26px;
    }

    .hero-slider .slider-item {
        height: 720px;
    }

    .intro-about-box {
        padding: 45px 20px;
    }

    .intro-about-area .intro-about .intro-about-box .ts-column i.icon {
        font-size: 35px;
    }

    .intro-about-area .intro-about .intro-about-box .ts-column .column-title {
        font-size: 19px;
        margin: 20px 0 10px;
    }

    .intro-about-box p {
        margin-bottom: 0;
    }

    .intro-about-area .intro-about .intro-about-box .ts-column:after {
        font-size: 87px;
        bottom: 30px;
    }

    .intro-about .pt-100 {
        padding-top: 0;
    }
    .ts-blog.section-padding {
        padding: 100px 0;
    }
    .ts-contact-wrapper {
        padding: 40px 10px;
    }
    .ts-contact-wrapper h4 {
        font-size: 19px;
    }
    .hero-slider.features-slider-classic .owl-nav {
        display: none;
    }
    .img-fluid {
        width: 100%;
    }

    .dishes-offer-wrapper {
        padding: 40px 30px;
    }
    .menu-btn.mt-40 {
        margin-top: 0 !important;
        margin-bottom: 40px;
    }
    

}

@media(max-width: 767px) {
    .top-contact-info {
        text-align: center;
    }
    
    .top-contact-info li {
        margin-right: 0;
    }
    
    .social-links.text-right {
        text-align: center !important;
    }
    #header .navbar-light .navbar-toggler-icon {
        background-image: none;
    }
    
    #header .navbar-light .navbar-toggler-icon i {
        font-size: 30px;
        color: #fff;
    }
    #header .navbar-collapse {
        background: #101010;
        // position: relative;
        z-index: 1111;
    }

    .dropdown-menu.show {
        display: block;
    }

    .navbar {
        padding: 10px;

    }

    .navbar-nav {
        border: none;
        margin: 20px 20px 0px 20px;
        padding-left: 20px;
    }

    #header .nav-item>a {
        color: #fff;
    }

    .header-standard .nav-item>a {
        line-height: 60px;
    }

    .header.header-standard .navbar-collapse,
    .header.header-classic .navbar-collapse {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 11;
        top: 100%;
    }

    .header-classic {
        .right-menu {
            .nav-button {
                display: none;
            }
        }
    }

    .nav-classic {
        .nav-button {
            display: none;
        }

        .navbar-light .navbar-toggler {
            margin-left: auto;
        }

        .navbar-collapse {
            background: #000;
        }

        .navbar ul>li>a {
            color: #fff;
        }

        .navbar-nav {
            margin-top: 60px;
        }
    }

    .nav-standard .navbar .navbar-nav .dropdown a {
        color: #fff;
    }

    .navbar-sticky {
        &.sticky {
            position: relative;
            display: none;
        }
    }

    .quote-area-classic {
        .quote_form {
            margin-bottom: 50px;
        }

        .quote-img {
            margin-bottom: -55px;
        }
    }
    .hero-area.hero-slider .slider-item .slider-left-content .slider-content p {
        font-size: 45px;
        line-height: 50px;
    }
    .hero-slider .slider-item .slider-content p {
        font-size: 90px;
    }
    
    .hero-slider .slider-item .slider-content p .slider-sub-title {
        font-size: 8px;
    }
    
    .hero-slider .slider-item {
        height: 763px !important;
    }
    .hero-slider {

        .features-slider,
        .features-slider-classic {
            .owl-nav {
                display: none;
            }
        }
    }

    ul.navbar-nav {
        li {

            a {
                position: relative;
                padding: 0;

            }

            .dropdown-menu li a {
                border: none;
            }
        }

        >li {
            >a {
                line-height: 50px;

                //     &:before{
                //         position: absolute;
                //         font-family: 'FontAwesome';
                //         content: "\f107";
                //         right: 15px;
                //         top: 0;
                //         font-size: 25px;
                //         line-height: 60px;
                //         color: #fff;
                //         font-size: 14px;
                //  }
                i {
                    &.fa-angle-down {
                        float: right;
                        line-height: 50px;
                    }

                    &.fa-angle-up {
                        float: right;
                        line-height: 50px;
                    }
                }
            }
        }
    }

    .navbar-nav {
        text-align: left;
    }

    .nav-item a:after,
    .navbar .nav-right .nav-search-btn {
        display: none;
    }

    .nav-item:hover .dropdown-menu {
        display: none;
    }

    ul.navbar-nav li .dropdown-menu {
        background: transparent;

        li {
            a {
                color: #fff;
                padding: 5px 0;
            }
        }
    }

    .ts-funfact {
        padding-top: 70px !important;
    }

    .funfact-item li {
        padding: 40px 20px;
    }

    .ts-service-content {
        margin-top: 50px;
    }

    .section-padding {
        padding: 40px 0px;
    }

    .top-bar {
        text-align: center !important;

        .unstyled {
            padding-bottom: 20px;
        }

        li {
            padding: 6px 20px;
        }
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
        background: #bc906b;
    }

    .ts-aboutus {
        padding: 50px 0;
    }

    .intro-image-box {
        margin-left: 0px;
        margin-top: 20px;

        .intro-shape:after {
            display: none;
        }
    }

    .intro-shape:after {
        display: none;
    }

    .navbar {
        padding: 10px;
    }

    .nav-search {
        display: none;
    }

    .ts-nav {
        .pl-0 {
            padding-left: 15px !important;
        }

        .pr-0 {
            padding-right: 15px !important;
        }
    }

    .hero-slider {
        .pr-0 {
            padding-right: 15px !important;
        }

        .p-0 {
            padding: 0px 15px !important;
        }

        .pl-0 {
            padding-left: 15px !important;
        }
    }

    .nav-menus-wrapper {
        background: #bc906b;

        .elementskit-menu-hamburger {
            position: absolute;
            top: 56%;
            left: 45px;
            padding: 24px 5px;
            border-radius: 0;
        }
    }

    .features-slider,
    .features-slider-classic {
        .slider-content {
            margin-right: 0px;

            .content-wrapper {
                left: 0px;
                right: 0px;
            }

            .slider-title {
                font-size: 24px !important;
            }
        }
    }

    .slider-content {
        max-height: 400px;
    }

    .featured-box {
        margin: 3px 0px;
    }

    .ts-feature-box .ts-feature {
        margin-bottom: 40px;
    }

    .ts-service-box {
        padding-bottom: 40px;
    }

    .cta-title {
        text-align: center !important;

        h2 {
            font-size: 24px;
        }
    }

    .cta-btn {
        text-align: center !important;
        margin-top: 20px;
    }

    .recent-folio-menu ul li {
        padding: 0 20px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .single-funfact {
        padding-bottom: 40px;
    }

    .quote_form {
        padding: 50px 20px 61px;
    }

    .testimonial-carousel {
        &.owl-carousel {
            .owl-nav {

                .owl-next,
                .owl-prev {
                    margin-top: 40px;
                }
            }
        }
    }

    .testimonial-author-content {
        max-width: 570px;
    }

    .testimonial-footer {
        &:after {
            display: none;
        }
    }

    .ts-latest-news {
        .single-latest-news {
            margin-bottom: 40px;
        }
    }

    .ts-footer {
        margin-top: 0;
    }

    .ts-footer-info-box {
        position: relative;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .ts-footer-info-box {
        span {
            &.box-border {
                border-top: 37px solid #bc906b;
            }
        }
    }

    .single-recent-work {
        margin-bottom: 30px;
    }

    .slider-title {
        font-size: 30px;
    }


    .copyright {
        text-align: center;

        .footer-social {
            text-align: center !important;
            padding: 20px 0px;
        }
    }

    .widget-details {
        h3 {
            margin-top: 50px;
        }
    }

    /* Sub Pages
================================================== */
    .navbar-sticky {
        padding: 0;
    }

    .banner-title {
        font-size: 36px;
        line-height: 50px;
    }

    // About us

    .ts-aboutus-classic {
        padding: 50px 0px;

        .about-intro {
            margin-bottom: 40px;
        }
    }

    .intro-about-area .intro-about .intro-about-box {
        margin-bottom: 20px;
    }
    // .intro-about {
    //     margin-top: 50px;
    // }

    .intro-text {
        margin-right: -15px;
    }
    .ts-single-funfact i.icon {
        left: 50%;
        margin-left: -50px;
    }
    
    .ts-single-funfact .funfact-title {
        font-size: 16px;
    }
    .ts-daily-offer .daily-offer-banner .daily-offer-intro {
        padding: 50px 20px 50px 20px;
    }
    .menu-block .img-box .info h3 {
        padding-right: 0;
        margin-bottom: 0;
    }
    
    .menu-block .img-box .info h3 a {
        font-size: 16px;
        margin-right: 5px;
    }
    
    .ts-daily-offer .menu-block .inner-box .info .price {
        font-size: 18px;
        padding-left: 0;
    }
    
    .menu-block .inner-box .info .price i {
        font-size: 18px;
    }
    
    .menu-block .inner-box .info:before {
        display: none;
    }
    
    .menu-block .img-box .text {
        padding: 35px 0px 0px 0px;
    }
    .ts-tab-menu .nav-menu-tabs li a i.icon {
        padding: 0 10px;
    }
    .ts-team {
        margin-bottom: 40px !important;
        padding-bottom: 0px;

        .team-img-wrapper {
            img {
                width: 100%;
            }
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .feature-block-desc {
        padding: 50px 80px 50px 20px;
    }

    .slider-content {
        img {
            height: 100%;
        }

        .content-wrapper {
            h1 {
                font-size: 24px;
            }

            a {
                margin-right: 0px !important;
                margin-bottom: 10px;
            }
        }
    }

    /* Home 4 */

    .hero-slider-classic {
        .hero-table {
            .hero-table-cell {
                .slider-content {
                    padding-top: 130px;
                }
            }
        }

        .owl-dots {
            display: none;
        }
    }

    .ts-nav-classic {
        .top-bar {
            display: none;
        }

        .main-logo {
            margin-right: 15px;
        }

        .navbar {
            margin-left: 15px;
        }
    }

    .hero-slider-classic {
        margin-top: -175px;
    }

    .header-transparent {
        .logo-area {
            text-align: center;
            position: relative;
            margin: 0 auto;
        }

        .top-bar {
            display: none;
        }

        .navbar {
            background: transparent;
            float: left;
            width: 100%;
            padding: 10px 30px 10px 20px;
        }

        .nav-button {
            display: none;
        }

        // .navbar-nav{
        //     border: none;
        //     margin: 20px 20px 0px 20px;
        // }
    }

    .navbar-nav {

        li {
            &:after {
                font-size: 16px;
                line-height: 55px;
            }
        }
    }

    .ts-cta-area {
        .text-right {
            text-align: center !important;
            margin-top: 30px;
        }
    }

    // .ts-service-quality{
    //     .ts-service-box-info{
    //         padding-right: 100px;
    //     }
    // }

    .testimonial-carousel {
        .owl-nav {
            display: none;
        }
    }

    .feature-block-intro {
        .column-title {
            font-size: 24px;
            line-height: 34px;
        }
    }

    .funfact-item {
        .single-funfact {
            padding-left: 0px;
            padding-top: 75px;
        }
    }

    .btn-area {
        a {
            &.btn {
                margin-top: 20px;
                margin-right: 15px;
            }

            &.btn-border {
                margin-left: 0px !important;
            }
        }
    }

    .slider-content {
        .slider-title {
            font-size: 36px !important;
            line-height: 40px !important;
        }
    }

    /*--- news ---*/
    .post-tags {
        a {
            display: block;
            margin-bottom: 10px;
        }
    }

    .author-box {
        padding: 40px 17px 20px;
    }

    .post-navigation {
        display: block;

        &:after {
            display: none;
        }
    }

    .comments-list {
        .comments-reply {
            padding-left: 0;
        }
    }

    .accordion-area {
        padding: 50px 0 0;
    }

    .contact-info-wrapper {
        margin-bottom: 40px;
    }

    .header-box {
        .top-bar {
            display: none;
        }

        .logo-area {
            text-align: center;
        }
    }

    .ts-shaps,
    .ts-shaps-2,
    .ts-shaps-3,
    .ts-shaps-4,
    .ts-shaps-5,
    .ts-shaps-6,
    .ts-shaps-7 {
        display: none;
    }


    .quote-area {
        .quote_form {
            position: relative;
            top: 0;
        }
    }

    .hero-slider .slider-item .slider-content p .slider-sub-title:before,
    .hero-slider .slider-item .slider-content p .slider-sub-title:after {
        display: none;
    }

    .ts-chef-info {
        margin: 20px 0;
    }

    .ts-single-funfact {
        margin: 10px 0;
    }

    .intro-about-area .intro-about .intro-about-item .intro-about-box {
        margin-bottom: 20px;
    }

    .ts-daily-offer .daily-offer-banner {
        margin-bottom: 30px;
    }

    .ts-footer {
        text-align: center;

        .ts-subscribe {
            padding-left: 0;
        }
    }

    .ts-footer .textwidget p {
        padding-right: 0;
        padding: 25px 0;
    }

    .hero-slider.features-slider-classic .owl-nav {
        display: none;
    }

    .hero-slider.features-slider-classic .slider-content p {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 10px;
    }

    .ts-award {
        margin-bottom: 30px;
    }

    .dishes-offer-wrapper {
        margin-bottom: 20px;
        padding: 80px 50px 80px 50px;
    }
  
    .ts-tab-menu-2 .nav-menu-tabs li a i.icon {
        margin: 0;
        padding: 0 36px;
    }
    .ts-tab-menu-2 .menu-block .inner-box .info span a {
        font-size: 30px;
    }
    .btn.btn-primary.mr-30 {
        margin-right: 0px !important;
        margin-bottom: 20px;
    }
    .ts-resarve .content {
        padding: 50px 20px;
    }

    .intro-about-area .intro-about .about-img {
        margin-top: 60px;
        margin-left: 0px;
    }

    .menu-cat-img {
        display: none;
    }

    .intro-about .ts-title {
        margin-top: 80px;
    }

    .set-menu-img {
        text-align: center;
    }

    .party-area-image {
        text-align: center;
        margin-top: 70px;
    }

    .history-img {
        margin-bottom: 50px;
    }

    .ts-single-funfact {
        margin: 20px;
    }

    .mapouter {
        margin-top: 50px;
    }

    .vertical-grid-post-area .post-thumb img {
        height: auto;
    }

    .vertical-grid-post-area2 .post-content {
        margin-top: 30px;
    }

    .ts-resarve-2 {
        text-align: center;
    }

    .ts-chef .ts-chef-info {
        text-align: center;
    }

    .mb-30 {
        margin-bottom: 0;
    }

    .ts-gallery-classic {
        text-align: center;
    }

    .ts-block-gallery.columns-2 {
        text-align: center;
    }

    .blocks-gallery-item {
        margin: 10px 0;
    }

    .intro-about .pt-100 {
        padding-top: 0;
    }
}